
#menu {
    width: 250px;
    padding: 40px;
    background: #526b77;
    color: #112b39;
}

.level_btns {
    border-radius: 10px;
    background: #273c47;
    color: #889aa4;
    padding: 10px;
    cursor: pointer;
    box-shadow: -2px -3px rgba(0, 0, 0, 0.2) inset;
}

#main_container {
    background-image: url('drapeau.jpg');
    text-align: center;
    font-size: 40px;
}

#grid {
    border-collapse: collapse;
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#grid td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}
.bomb {
    background-image: url('bombe.jpg');
    background-size: cover;
}
.paint {
    background: #849fba !important;
    font-size: 0;
}
